//----------------------------------------------
// Tags
//----------------------------------------------

.tags {
  border-radius: 10px;
  background-color: $color-grey;
  color: $color-black;
  font-family: $font;
  font-size: $font-xxxsmall;
}
